@CHARSET "EUC-KR";
table {
	font-size: 11pt;	
}
#content_table, .button_table, #insert_table {
	border-collapse: collapse;
	width: 700px;
	margin: 0px;
}
#content_table, #insert_table {
	border-bottom: 2px solid black;
	border-top: 2px solid black;	
}
#content_table th, #insert_table th {
	background-color: #77c4ec;
	color: #fff;
	border-bottom: 1px solid #333;
	text-align: center;
	font-weight: bolder;
}
#insert_table td {
	border-bottom: 1px solid #666;
	padding: 5px;
}
#content_table td{
	border-bottom: 1px solid #666;
	text-align: center;
}
#content_table tr:HOVER {
	background-color: #d8eefa;
}
#content_table tr:NTH-CHILD(odd) {
	background-color: #d8eefa;
}
#content_table .cont_tr {
	background-color: #d8eefa;
}
#content_table #cont {
	background-color: white;
	padding: 10px;
	text-align: left;
	vertical-align: top;
	height: 200px;
}
#content_table #left_td {
	text-align: left;
	padding-left: 10px;
}
.button_table #right_td {
	text-align: right;
	padding-top: 5px;
}
form, select, option {
	font-weight: bolder;
}
a {
	text-decoration: none;
	color: black;
}
a:HOVER {
	color: green;
}
img:HOVER {
	opacity: 0.5;
	border: 1px solid white;
}
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="text"],
input[type="password"],
select, textarea{
	-webkit-border-radius: 12px;
	-mox-border-radius: 12px;
	border-radius: 12px;
	border: 1px #CCC solid;
}
