<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 프로시져도 여기서 사용 -->
<mapper namespace="com.sist.dao.board-mapper">

	<!-- boardVO와 board 테이블의 컬럼명 매핑 -->
	<resultMap type="Board" id="codeBeanResult">
		<result property="no" column="no"/>
		<result property="name" column="name"/>
		<result property="subject" column="subject"/>
		<result property="content" column="content"/>	
		<result property="pwd" column="pwd"/>
		<result property="regdate" column="regdate"/>
		<result property="hit" column="hit"/>
	</resultMap>
	
	<!-- 리스트 받아오기 -->
	<!-- param 값의 속성 매핑 -->
	<parameterMap type="hashmap" id="listDataMap">
		<!-- mode는 입력출력과 관련된 속성 -->
		<parameter property="pStart" mode="IN" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<parameter property="pEnd" mode="IN" jdbcType="INTEGER" javaType="java.lang.Integer"/> 
		<parameter property="pResult" mode="OUT" jdbcType="CURSOR" resultMap="codeBeanResult"/>
	</parameterMap>	
	<select id="boardListData" statementType="CALLABLE" parameterMap="listDataMap">
		{CALL boardListData(?,?,?)}
	</select>
	
	<!-- totalPage 받아오기 -->
	<parameterMap type="hashMap" id="totalPage">
		<parameter property="pNumber" mode="OUT" jdbcType="INTEGER" javaType="java.lang.Integer"/>
	</parameterMap>	
	<select id="boardTotalPage" statementType="CALLABLE" parameterMap="totalPage">
		{CALL boardTotalPage(?)}
	</select>
	
	<!-- 글쓰기 -->
	<parameterMap type="hashmap" id="insertMap">
		<!-- mode는 입력출력과 관련된 속성 -->
		<parameter property="pName" mode="IN" jdbcType="VARCHAR" javaType="string"/>
		<parameter property="pSub" mode="IN" jdbcType="VARCHAR" javaType="string"/> 
		<parameter property="pCont" mode="IN" jdbcType="VARCHAR" javaType="string"/>
		<parameter property="pPwd" mode="IN" jdbcType="VARCHAR" javaType="string"/>  
	</parameterMap>	
	<select id="boardInsert" statementType="CALLABLE" parameterMap="insertMap">
		{CALL boardInsert(?,?,?,?)}
	</select>
	
	<!-- 글 보기 -->
	<parameterMap type="hashmap" id="contentDataMap">
		<parameter property="pNo" mode="IN" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<parameter property="pResult" mode="OUT" resultMap="codeBeanResult" jdbcType="CURSOR"/>
	</parameterMap>
	<select id="boardContentData" parameterMap="contentDataMap" statementType="CALLABLE">
		{CALL boardContentData(?,?)}				
	</select>	
	
	<!-- 글 수정할 데이터 불러오기-->
	<parameterMap type="hashmap" id="updateDataMap">
		<parameter property="pNo" mode="IN" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<parameter property="pResult" mode="OUT" resultMap="codeBeanResult" jdbcType="CURSOR"/>
	</parameterMap>
	<select id="boardUpdateData" parameterMap="updateDataMap" statementType="CALLABLE">
		{CALL boardUpdateData(?,?)}				
	</select>
	
	<!-- 글 수정 -->
	<parameterMap type="hashmap" id="updateMap">
		<parameter property="pNo" mode="IN" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<parameter property="pName" mode="IN" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="pSubject" mode="IN" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="pContent" mode="IN" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="pPwd" mode="IN" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="pResult" mode="OUT" javaType="string" jdbcType="VARCHAR"/>
	</parameterMap>
	<select id="boardUpdate" parameterMap="updateMap" statementType="CALLABLE">
		{CALL boardUpdate(?,?,?,?,?,?)}				
	</select>	
	
	<!-- 글 삭제 -->
	<parameterMap type="hashmap" id="deleteMap">
		<parameter property="pNo" mode="IN" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<parameter property="pPwd" mode="IN" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="pResult" mode="OUT" javaType="string" jdbcType="VARCHAR"/>
	</parameterMap>
	<select id="boardDelete" parameterMap="deleteMap" statementType="CALLABLE">
		{CALL boardDelete(?,?,?)}				
	</select>	
</mapper>

