<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<aop:aspectj-autoproxy/>
	
	<bean name="employee" class="myspring.aspectj.model.Employee">
		<property name="empName" value="호현"/>
	</bean>
	
	<!-- 
		byName : property name에 의해서 autowirig 
				 ==> 스프링 IOC 컨테이너가 동일한 이름으로 property가 설정된 bean을 찾음		
	 -->
	<bean name="employeeService" class="myspring.aspectj.service.EmployeeService" autowire="byName"/>
	
	<bean name="loggingAspect" class="myspring.aspectj.aspect.LoggingAspect"/>
	
</beans>
